absl-py==2.1.0
aiohappyeyeballs
aiohttp
aiosignal
anaconda-anon-usage
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
appnope==0.1.4
archspec
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arviz==0.19.0
astroid==3.1.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs
autograd==1.7.0
autoray==0.7.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
bokeh==3.5.2
boltons
Bottleneck
Brotli
build==1.2.1
cachetools==5.5.2
certifi
cffi
charset-normalizer
click==8.1.7
comm==0.2.2
conda
conda-content-trust
conda-libmamba-solver
conda-package-handling
conda_package_streaming
constants==0.6.0
contourpy==1.2.1
cryptography
cycler==0.12.1
datasets
debugpy==1.8.1
decorator==5.1.1
deepchem==2.5.0
defusedxml==0.7.1
Deprecated
diastatic-malt==2.15.2
dill
distro
dm-tree==0.1.8
docker-pycreds==0.4.0
et-xmlfile==1.1.0
executing==2.0.1
fastdtw==0.3.4
fastjsonschema==2.20.0
filelock
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.51.0
fqdn==1.5.1
frozendict
frozenlist
fsspec
gast==0.6.0
gguf==0.10.0
gitdb==4.0.11
GitPython==3.1.43
gmpy2
google-auth==2.38.0
google-genai==1.3.0
google-pasta==0.2.0
grpcio==1.66.1
h11==0.14.0
h5netcdf==1.3.0
h5py==3.11.0
httpcore==1.0.6
httpx==0.28.1
huggingface_hub
idna
imbalanced-learn==0.12.3
imblearn==0.0
importlib-metadata
ipykernel==6.29.5
ipython==8.25.0
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jax==0.4.35
jaxlib==0.4.35
jedi==0.19.1
Jinja2==3.1.3
joblib==1.4.2
json5==0.9.25
jsonpatch
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keras==3.5.0
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
libmambapy
llvmlite==0.42.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.15
menuinst
mistune==3.0.2
ml_dtypes==0.5.0
mne==1.7.0
move==0.1.3
mpmath
multidict
multiprocess
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx
notebook_shim==0.2.4
numba==0.59.1
numexpr
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.4
opentelemetry-api
opt-einsum==3.3.0
optree==0.12.1
overrides==7.7.0
packaging==24.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pbr==6.1.0
PennyLane==0.40.0
PennyLane_Lightning==0.40.0
pexpect==4.9.0
pillow
pip-tools==7.4.1
platformdirs==4.2.1
plotly==5.24.1
pluggy
ply==3.11
pooch==1.8.1
prometheus_client==0.21.0
prompt_toolkit==3.0.46
propcache
protobuf==4.25.4
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat
pycparser
pydantic==2.11.0a2
pydantic_core==2.29.0
Pygments==2.18.0
pylatexenc==2.10
pylint==3.1.0
pynndescent==0.5.13
pyparsing==3.1.2
pyproject_hooks==1.0.0
pyro-api==0.1.2
pyro-ppl==1.9.1
PySocks
python-dateutil
python-json-logger==2.0.7
pytz
PyWavelets==1.6.0
PyYAML
pyzmq==26.0.3
qiskit==2.0.0
qiskit-algorithms==0.3.1
qiskit-machine-learning==0.6.1
rdkit==2024.9.5
referencing==0.35.1
regex==2024.7.24
requests
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.0
rpds-py==0.20.0
rsa==4.9
ruamel.yaml
ruamel.yaml.clib
rustworkx==0.16.0
safetensors==0.4.3
scikit-learn==1.5.1
scipy==1.13.0
scipy-openblas32==0.3.29.0.0
seaborn==0.13.2
selfies==2.2.0
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.17.0
setproctitle==1.3.3
setuptools==74.1.2
six
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.6
SQLAlchemy==2.0.35
ssqueezepy==0.6.5
stack-data==0.6.3
stevedore==5.4.0
symengine==0.13.0
sympy
tabulate
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-macos==2.16.2
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.3.0
tokenizers
tomlkit==0.12.4
torch==2.4.1
torchaudio
torchvision==0.19.1
tornado==6.4.1
tqdm==4.66.2
traitlets==5.14.3
transformers @ git+https://github.com/huggingface/transformers.git@d3bdde2c4bbf8dbfc460bdd15c97f3b3ad8e0284
truststore
types-python-dateutil==2.9.0.20240906
typing_extensions
tzdata==2024.1
ultralytics==8.2.42
ultralytics-thop==2.0.0
umap==0.1.1
umap-learn==0.5.6
uri-template==1.3.0
urllib3
wandb==0.18.5
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
Werkzeug==3.0.4
wheel==0.43.0
wrapt
xarray==2024.9.0
xarray-einstats==0.7.0
xxhash
xyzservices==2024.9.0
yarl
zipp
zstandard
